<a href="https://colab.research.google.com/github/monclai/bootcamp_dataScience_aplicada_alura_desafios/blob/main/desafio_03/notebook/cria%C3%A7%C3%A3o_base_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
casos_full_uri = '/content/drive/MyDrive/Colab Notebooks/Bootcamp Data Science aplicada/modulo_03/desafio/caso_full.csv'

In [5]:
import pandas as pd

In [6]:
df_casos_full = pd.read_csv(casos_full_uri)

In [7]:
df_casos_full.head()

         city  city_ibge_code        date  ...  state  new_confirmed  new_deaths
0  Rio Branco       1200401.0  2020-03-17  ...     AC              3           0
1         NaN            12.0  2020-03-17  ...     AC              3           0
2  Rio Branco       1200401.0  2020-03-18  ...     AC              0           0
3         NaN            12.0  2020-03-18  ...     AC              0           0
4  Rio Branco       1200401.0  2020-03-19  ...     AC              1           0

[5 rows x 18 columns]

In [8]:
regiao_dos_lagos = ['Araruama', 'Armação dos Búzios', 'Arraial do Cabo', 'Cabo Frio',
          'Iguaba Grande', 'São Pedro da Aldeia', 'Saquarema']

In [9]:
df_regiao_dos_lagos = df_casos_full.query('city == @regiao_dos_lagos')

In [10]:
df_regiao_dos_lagos.drop(columns=['city_ibge_code', 'estimated_population_2019', 'is_last', 'is_repeated', 'order_for_place', 'place_type', 'state'], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
df_regiao_dos_lagos.tail()

                        city        date  ...  new_confirmed  new_deaths
1556695      Arraial do Cabo  2021-07-03  ...              0           0
1556701            Cabo Frio  2021-07-03  ...              0           0
1556717        Iguaba Grande  2021-07-03  ...              0           0
1556762            Saquarema  2021-07-03  ...              0           0
1556773  São Pedro da Aldeia  2021-07-03  ...              0           0

[5 rows x 11 columns]

In [12]:
df_regiao_dos_lagos.query('city == "Araruama"').tail()

             city        date  ...  new_confirmed  new_deaths
1556316  Araruama  2021-06-29  ...             22           0
1556410  Araruama  2021-06-30  ...              7           0
1556504  Araruama  2021-07-01  ...              3           1
1556598  Araruama  2021-07-02  ...              0           0
1556692  Araruama  2021-07-03  ...              0           0

[5 rows x 11 columns]

In [13]:
df_regiao_dos_lagos.query('city == "Armação dos Búzios"').tail()

                       city        date  ...  new_confirmed  new_deaths
1556318  Armação dos Búzios  2021-06-29  ...              1           1
1556412  Armação dos Búzios  2021-06-30  ...              0           0
1556506  Armação dos Búzios  2021-07-01  ...              2           0
1556600  Armação dos Búzios  2021-07-02  ...              0           0
1556694  Armação dos Búzios  2021-07-03  ...              0           0

[5 rows x 11 columns]

In [14]:
df_regiao_dos_lagos.query('city == "Arraial do Cabo"').tail()

                    city        date  ...  new_confirmed  new_deaths
1556319  Arraial do Cabo  2021-06-29  ...              1           0
1556413  Arraial do Cabo  2021-06-30  ...              0           0
1556507  Arraial do Cabo  2021-07-01  ...              6           0
1556601  Arraial do Cabo  2021-07-02  ...              0           0
1556695  Arraial do Cabo  2021-07-03  ...              0           0

[5 rows x 11 columns]

In [15]:
df_regiao_dos_lagos.query('city == "Cabo Frio"').tail()

              city        date  ...  new_confirmed  new_deaths
1556325  Cabo Frio  2021-06-29  ...             91           7
1556419  Cabo Frio  2021-06-30  ...              6           0
1556513  Cabo Frio  2021-07-01  ...             48           9
1556607  Cabo Frio  2021-07-02  ...              0           0
1556701  Cabo Frio  2021-07-03  ...              0           0

[5 rows x 11 columns]

In [16]:
df_regiao_dos_lagos.query('city == "Iguaba Grande"').tail()

                  city        date  ...  new_confirmed  new_deaths
1556341  Iguaba Grande  2021-06-29  ...             43           0
1556435  Iguaba Grande  2021-06-30  ...              0           0
1556529  Iguaba Grande  2021-07-01  ...             16           2
1556623  Iguaba Grande  2021-07-02  ...              0           0
1556717  Iguaba Grande  2021-07-03  ...              0           0

[5 rows x 11 columns]

In [17]:
df_regiao_dos_lagos.query('city == "São Pedro da Aldeia"').tail()

                        city        date  ...  new_confirmed  new_deaths
1556397  São Pedro da Aldeia  2021-06-29  ...              8           1
1556491  São Pedro da Aldeia  2021-06-30  ...              0           0
1556585  São Pedro da Aldeia  2021-07-01  ...              4           2
1556679  São Pedro da Aldeia  2021-07-02  ...              0           0
1556773  São Pedro da Aldeia  2021-07-03  ...              0           0

[5 rows x 11 columns]

In [18]:
df_regiao_dos_lagos.query('city == "Saquarema"').tail()

              city        date  ...  new_confirmed  new_deaths
1556386  Saquarema  2021-06-29  ...             26           0
1556480  Saquarema  2021-06-30  ...              1           0
1556574  Saquarema  2021-07-01  ...              7           6
1556668  Saquarema  2021-07-02  ...              0           0
1556762  Saquarema  2021-07-03  ...              0           0

[5 rows x 11 columns]

In [19]:
from pathlib import Path

In [20]:
Path('./dataframes').mkdir(exist_ok=True)

In [21]:
df_regiao_dos_lagos.to_csv("./dataframes/regiao_dos_lagos.csv")